
body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}
.container {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav {
    background-color: #ffffff;
    padding: 10px;
}

nav div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.navB div:first-child {
    margin-right: 20px;
    
}
#home {
    color: #333;
    text-decoration: none;
}
h1 {
    margin: 0; 
}


main {
    margin-top: 20px;
}

.about {
    margin: 20px; 
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}

.container-item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.indeximg {
    width: 100%; 
    height: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color: #fff;
    color: #333;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5); /* Darker shadow */
    border-radius: 12px; /* Rounded edges */
    font-size: 14px;
    padding: 5px 13px; /* Larger clickable area */
    transition: all 0.3s ease 0s; /* Smooth transition */
    margin-left: 5px;
}

.dropbtn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7); /* Even darker shadow on hover */
}

.BtnDevice {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

#imguser {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.registerbutton {
    margin-top: 3px;
    margin-bottom: 1px;
    background-color: green;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-left:5px;
    margin-top:3px;
}
.textboxes {
    margin-left: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
.registertext{
    margin-left: 5px;
    color: black;
}
.rbacktext {
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image:radial-gradient(rgba(123, 123, 125, 0.726), rgba(103, 103, 109, 0.671));
    box-shadow: 0px 2px 8px 0px black;
    border-radius: 10px;
}
.rbackground {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 120px;
}
.htext{
    color:black;
    font-size: 30px
}
@media screen and (max-width: 800px){
    .rbacktext {
    padding-left: 30px;
    padding-right: 30px;
    width:30%;
    height:30%;
    padding-bottom:30px;
    }
    .rbackground{
        height: 65%;
        width: 50%;
    }
    .textboxes{
        height: 16px;
        width: 100px;
        padding: 0px;
        margin-left:0px;
    }
    .registertext{
        font-size: 12px;
        margin-left:0px;
    }
    .htext{
        font-size: 21px;
    }
    .registerbutton{
        margin-left:0px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 800px){
    .rbacktext{
    padding-left: 55px;
    padding-right: 55px;
    width:35%;
    height: 50%;
    }
    .rbackground{
        height:50%;
        width: 30%;
    }
    .textboxes{
        height:21px;
        width:115px;
        padding:0px;
        margin-left:0px;
    }
    .registertext{
        font-size:14px;
        margin-left:0px;
    }
    .htext{
        font-size:25px;
    }
    .registerbutton{
        margin-left:0px;
    }
}